@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #000;
}

.wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Pixelify sans";
  min-height: 100%;
  min-width: 100%;
  background-color: #9e6868;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 40px;
  color: #7d3232;
}

.score-count {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 35px;
  color: #d29d9d;
}

.game-board {
  background-color: #eee;
  margin: 0px 0px 10px 0px;
}

.buttons-to-play {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 110px;
  justify-content: space-evenly;
}
.buttons-to-play button {
  border-radius: 4px;
}
.buttons-to-play button:hover {
  transform: scale(104%);
}

.Up {
  width: 50px;
  height: 50px;
  background-color: #7d3232;
}

.Down {
  width: 50px;
  height: 50px;
  background-color: #7d3232;
